.footer{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-color: black;
    color: white;
    height:12vh;
    /* width: 100vw; */
    position:fixed;
    bottom:0;
    right:0;
    left:0;
   
}
.footer__social{
    display:flex;
}
.footer__social li{
    padding-left: 2rem;
}
.footer__social i{
    color:white;
}